:root {
    --ion-color-primary: #f3b058;
    --ion-color-primary-rgb: 0, 102, 0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #f3b058;
    --ion-color-primary-tint: #f3b058;
    --primary:#f3b058
  }