:root {
    --ion-color-primary: #f3b058;
    --ion-color-primary-rgb: 0, 102, 0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #f3b058;
    --ion-color-primary-tint: #f3b058;
    --primary:#f3b058
  }

  .mf_diagram_controlNodeContent {
    transition: opacity 0.3s ease-in-out !important;
  }
  .active_node{ 
    /* box-shadow: 0 0 10px 3px rgb(14, 5, 89) !important; */
    box-shadow: 0px 0px 16px 4px rgb(14 5 89) !important;
  }

  .selected_item{
    box-shadow: 0px 0px 16px 4px rgb(5, 72, 89) !important;
  }

  
.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 16px;
  align-items: center;
}

.buttons button {
  margin-bottom: 8px;
  font-size: 23px;
  border-radius: 7px;
  box-shadow: 1px 1px 0px #776d6d63;
}

.buttons button:focus{
  box-shadow: 2px 2px 3px #555555a1;
}

.deactivate{
  background: #dbdbdb !important;
}

.hide {
  max-height: 0;
  transition: max-height .8s ease-in-out;
  overflow: hidden;
}

.show {
  max-height: 250px; /* Set to a value greater than the maximum height of the element */
  transition: max-height .8s ease-in-out;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 5px;
}


/* Style for search results container */
.search-results {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  line-height: 1.5;
  
  flex-flow: wrap;
}

/* Style for Expand button */
.search-results input[type="button"] {
  background-color: #05395b;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0px;
}

.search-results input[type="button"]:hover {
  background-color: #824e04;
}

/* Style for alreadyVisited, reachable, and otherNodes sections */
.search-results div {
  margin-top: -10px;
  /* display: none; */
  color: #333;
}

/* Show the alreadyVisited, reachable, or otherNodes sections when the corresponding button is clicked */
.search-results.show #alreadyVisited,
.search-results.show #reachable,
.search-results.show #otherNodes {
  display: block;
}


.toast-message {
  background-color: #333;
  color: #fff;
  z-index: 100000000000;
  border-radius: 5px;
  padding: 16px;
  font-size: 1rem;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  top: 70%;
  visibility: hidden;
  transform: translateY(-50%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transition: margin-top .5s;
}

.toast-message.success {
  background-color: #28a745;
  visibility:visible;
  margin-top: 30px;
}

.toast-message.error {
  background-color: #dc3545;
  visibility:visible;
  margin-top: 30px;
  transition: margin-top .5s;
}

.toast-message.warning {
  background-color: #ffc107;
  visibility:visible;
  margin-top: 30px;
}

.toast-message.info {
  background-color: #17a2b8;
  visibility:visible;
  margin-top: 30px;
}




/* Search bar */

.search-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top:50px;
  left:50%;
  z-index: 1000;
}

.search-wrapper .input-holder {    
  height: 70px;
  width:70px;
  overflow: hidden;
  background: #f9cf90;
  border-radius:6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
  width:450px;
  border-radius: 50px;
  background: #f9cf90;
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
  width:100%;
  height: 50px;
  padding:0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top:0px;
  left:0px;
  /* background:  transparent; */
  background-color: #f9cf90;
  box-sizing: border-box;
  border:none;
  outline:none;
  font-family:"Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:rgb(0, 0, 0);
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
  width:70px;
  height:70px;
  border:none;
  border-radius:6px;
  background: #f9cf90;
  padding:0px;
  outline:none;
  position: relative;
  z-index: 2;
  float:right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
  width: 50px;
  height:50px;
  margin: 10px;
  border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
  width:22px;
  height:22px;
  display: inline-block;
  vertical-align: middle;
  position:relative;
  transform: rotate(45deg);
  transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
  position: absolute; 
  content:'';
}
.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #af701d;
}
.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #af701d;
}
.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top:24px;
  right:20px;
  width:25px;
  height:25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
}
.search-wrapper.active .close {
  right:-50px;
  transform: rotate(45deg);
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
  position:absolute;
  content:'';
  background: #af701d;
  border-radius: 2px;
}
.search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}
.search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}

#reachable, #alreadyVisited, #otherNodes{
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 1px;
  padding: 5px;
  padding-top: 2px;
}

.result-card {
  display: flex;
  padding: 13px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 9px;
  text-align: justify;
  text-overflow: ellipsis !important;
  cursor: pointer;
  height: 39px;
  overflow: hidden;
}

.result-card:active{
  box-shadow: 4px 0px 10px #5a34037e;
}

.result-card input[type="radio"] {
  /* margin-right: 10px; */
  visibility: hidden;
}

.result-card p {
  margin: 0;
  text-overflow: ellipsis;
  word-break: keep-all !important; /* add word-break property */
  flex-grow: 1; /* expand to fill available space */
}

.remove-result{
  display: none !important;
}

.inner-scroll .scroll-y{
  overflow: hidden !important; 
}

.row div{
  overflow: hidden !important;
}